<!-- footer area start -->
<footer>
    <!-- footer top start -->
    <div class="footer-top bg-black pt-14 pb-14">
        <div class="container">
            <div class="footer-top-wrapper">
                <div class="newsletter__wrap">
                    <div class="newsletter__title">
                        <div class="newsletter__icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="newsletter__content">
                            <h3>Nhận tin tức mới nhất?</h3>
                            <p>Nhập email của bạn để nhận thông báo mới nhất</p>
                        </div>
                    </div>
                    <div class="newsletter__box">
                        <form id="mc-form">
                            <input type="email" id="mc-email" autocomplete="off" placeholder="Email của bạn">
                            <button id="mc-submit">Đăng ký!</button>
                        </form>
                    </div>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
                <div class="social-icons">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- footer top end -->
    <!-- footer main start -->
    <div class="footer-widget-area pt-40 pb-38 pb-sm-10">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Liên hệ</h4>
                        </div>
                        <div class="widget-body">
                            <ul class="location">
                                <li><i class="fa fa-envelope"></i>hmlen867@gmail.com</li>
                                <li><i class="fa fa-phone"></i>+(84) 0888.585.867</li>
                                <li><i class="fa fa-map-marker"></i>Địa chỉ: Q7, TP.HCM</li>
                            </ul>
                            <a class="map-btn" href="#">Mở trong google map</a>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Tài khoản</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a href="#">Đăng nhập</a></li>
                                <li><a href="#">Đăng ký</a></li>
                                <li><a href="#">Tài khoản của tôi</a></li>
                                <li><a href="#">Đơn hàng của tôi</a></li>
                                <li><a href="#">Giỏ hàng của tôi</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Nội dung</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Liên hệ</a></li>
                                <li><a href="#">Giỏ hàng</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Điều khoản</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a href="#">Điều khoản dịch vụ</a></li>
                                <li><a href="#">Quy định bảo hành</a></li>
                                <li><a href="#">Trung tâm bảo hành</a></li>
                                <li><a href="#">Quy định đổi trả</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
            </div>
        </div>
    </div>
    <!-- footer main end -->
    <!-- footer bootom start -->
    <div class="footer-bottom-area bg-gray pt-20 pb-20">
        <div class="container">
            <div class="footer-bottom-wrap">
                <div class="copyright-text">
                    <p><a target="_blank">Bản quyền thuộc về HMLen</a></p>
                </div>
                <div class="payment-method-img">
                    <img src="~/client/img/payment.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- footer bootom end -->

</footer>
<!-- footer area end -->