@page
@model QuocThinh.Pages.MainModel
@{
    Layout = "_LayoutAdmin";
}

<h1 class="h3 mb-2 text-gray-800">TRANG CHÍNH</h1>
<p class="mb-4">
    Trang quản lý các thông tin Loại Sản Phẩm, Sản Phẩm, Đơn Hàng và Người Dùng dành cho Admin</a>.
</p>
