@page
@model QuocThinh.Pages.QLLoai.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Loai</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loai.Ten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loai.Ten)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Loai.ID" class="btn btn-primary me-2">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
